@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-family: "Roboto Condensed", sans-serif;
    --font-family2: "Barlow Condensed", sans-serif;
    --background-color: #FFDB00;
    --text-color: #9E9E9E;
    --font-family3: "Smooch Sans", sans-serif;
    --background-color2: #FFA824;
    --price-color: #00B67A;
    --text-color2: #5F7C9F;
    --footer-bg-color: #F7F7F7;
}

.stroke-white {
  -webkit-text-stroke: 1px white;
}

.group:hover .fill {
  -webkit-text-stroke: 1px #FFDB00;
    color: #FFDB00;
}


@keyframes rollIn{
    0%{
        transform: translateX(-1600px);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes rollOut{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(1600px);
    }
}

.rollIn {
    animation: rollIn 1s ease-in-out;
}

.rollOut {
    animation: rollOut 1s ease-in;
}